body{
  overflow: hidden;
}

.App{
  right: 5px;
  bottom: 0px;
  overflow: hidden;
}

.bot-wrapper{
  position: absolute;
  right: 5px;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 300px;
  border-radius: 10px;
  bottom: 60px;
  overflow: hidden;
  background: rgb(255, 55, 55);
  background-color: rgb(255, 255, 255);
  box-shadow: #ffd9d9 1px 1px 9px 0px;
}

.mainBg{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform:skewX(31deg) skewY(356deg) scale(1.5) translateX(104px) translateY(70px) skewY(10deg);
  background: rgb(255, 55, 55);
  background-color: rgb(218, 179, 255);

}

.bot-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bot-header{
  min-height: 30px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  border-bottom: solid 0px #b9e2ff;
  background-color: #0000001a;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.bot-body{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.bot-min{
  /* background-color: rgb(171, 162, 255); */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: auto;
  position: absolute;
  bottom: 5px;
  right: 0px;
  transition: 300ms;
  transform: rotate(0deg);
}

.bot-control{
  display: flex;
  justify-content: flex-end;
  padding: 0px 10px;
  cursor: pointer;
}
.show-bot{
  transition: 500ms;
  transform: translate(0px, 0px) ;
}

.hide-bot{
  transition: 500ms;
  transform: translate(0px, 1000px);
}

.rotate{
  transition: 1000ms;
  transform: rotate(720deg);
}

.svgprim1{
  transition: 100ms;
  fill: red;
}

.svgprim2{
  transition: 100ms;
  fill: blue;
}

.svgsec1{
  transition: 100ms;
  fill: purple;
}

.svgsec2{
  transition: 100ms;
  fill: green;
}

.form-container{
  flex-grow: 1;
  background-color: #FFFFFF;
  margin: 20px 5px;
  border-radius: 20px;
}
/* https://jakearchibald.github.io/svgomg/ */